.mainheading {color: #34abb1; font-size: 36px; background-color: #00FFFF;text-align: center;margin-block: 0px;text-shadow: 1px 1px;}
.linkssectionmid{color: #133F79; font-size: 36px;margin-block: 0px;margin:0%;text-align: center;}
.linkssection{color: #133F79; font-size: 36px;margin-block: 0px;margin:5%;text-align: center;}
.paragraphtext{color: #00f2ff; font-size: 24px;margin-block: 0px; margin-left:15%;margin-right:15%;}
.selectiontext{color: #00f2ff; font-size: 24px;margin-block: 0px; text-align:center;}
.paragraphtextSpecialA {color: #00f2ff; font-size: 24px;margin-block: 0px;margin-right: 7.5%;margin-left: 45%;padding-bottom:2%}
.paragraphtextSpecialB {color: #00f2ff; font-size: 24px;margin-block: 0px;margin-left:7.5%;margin-right: 45%;padding-bottom:2%;}
.headingSpecialA {color: #00f2ff; font-size: 36px;margin-block: 0px;margin-right: 7.5%;margin-left: 45%;padding-top:2%}
.headingSpecialB {color: #00f2ff; font-size: 36px;margin-block: 0px;margin-left:7.5%;margin-right: 45%;padding-top:2%}

.rightsideselector {color: #00f2ff; font-size: 18px;margin-block: 0px;margin-right: 2.5%;margin-left:65%;padding-top:2%;text-align:right;}
.rightsideitem {color: #00f2ff; font-size: 18px;margin-block: 0px;margin-right: 2.5%;margin-left:65%;padding-top:2%;text-align:right;background-color: #099090}
.leftsideselector {color: #00f2ff; font-size: 18px;margin-block: 0px;margin-left:2.5%;margin-right:65%; padding-top:2%;text-align:left;}
.leftsideitem{color: #00f2ff; font-size: 18px;margin-block: 0px;margin-left: 2.5%;margin-right:65%;padding-top:2%;text-align:right;background-color: #099090}


.section1div {
    background-color: #099090;    
    text-align: center;
    margin-block: 0px;
    padding-bottom:1%
  }

  .section2div {
    background-color: #087c7c;    
    text-align: right;
    margin-block: 0px;
    width: 100%;
    height: 300px;
  }

  .section3div {
    background-color: #099090;    
    text-align: left;
    margin-block: 0px;
    width: 100%;
    height: 300px;
  }

  .section4div {
    background-color: #099090;    
    text-align: center;
    padding-top: 100px;
    width: 100%;
    height: 300px;
  }

  .container {
    background-color:#099090;
    display:flex;
    text-align: center;
    padding-top: 24px;
    }   

  .geneticsdiv {background-color: #099090;    
    text-align: center;
    padding-top: 20px;
    margin-block: 0px;
    width: 33%;
    height: 400px;}

   .effortdiv {background-color: #099090;    
   text-align: center;
   padding-top: 20px;
   width: 33%;
   height: 400px;
   flex-grow: 1;
    }

   .miscthingsdiv {background-color: #099090;    
    text-align: center;
    padding-top: 20px;
    float: right;
    width: 33%;
    height: 400px;}

    .attackerdiv {background-color: #099090;    
      text-align: center;
      padding-top: 20px;
      float: left;
      width: 50%;
      height: 450px;
      border: solid #000;
      border-width: 0 1px;
}

      .defenderdiv {background-color: #099090;    
        text-align: center;
        padding-top: 20px;
        float: right;
        width: 50%;
        height: 450px;
        border: solid #000;
        border-width: 0 1px;  
        }

  .backgrounddiv {
    background-color: #00FFFF;  
    text-align: center;
  }

  body{background-color: #00FFFF;margin:0;}

  .imgone {
    width:400px;
    height:280px;
    vertical-align: middle;
    position: relative;
    left: 7.5%;
    top: 4%;
  }

  .imgtwo {
    width:400px;
    height:280px;
    vertical-align: middle;
    position: relative;
    right: 7.5%;
    top: 4%;
  }